.App {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

/* @media (min-width: 1500px) {
    body {
        padding: 0 10rem;
    }
} */

@media (max-width: 600px) {
    form {
        flex-direction: column;
    }

    input[type="text"],
    button[type="submit"] {
        width: 100%;
    }
}